/* body {
   background-color: black; 
   color: bisque;
}
img { width: 50px; }
.fon {
   width: 150px;
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
   margin-bottom: 50px;
}
#dark-fon.active {
   background-color: rgb(11, 11, 11);
   color: rgb(244, 239, 239);
}
#white-fon.active {
   background-color: rgb(244, 236, 236);
   color: rgb(15, 14, 14);
   border: 1px solid red;
} 
#wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.block {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.block__title {
   width: 600px;
   border: 1px solid gold;
   padding: 20px;
   display: flex;
   justify-content:center;
   margin-bottom: 10px;
}
.block__content {
   height: 0;
   overflow: hidden;
   transition: 1s;
   width: 300px;
   position: relative;
}
.block.actv .block__content {
   height: 200px;
}
.time {
   text-align: center;
   margin-bottom: 50px;
}
.iff {
   background-color: aquamarine;
}

.erore {
   border: 2px solid red;
}

@media screen and  (min-width: 340px) {
   .block__title {
      width: 300px;
      border: 1px solid gold;
      padding: 20px;
      display: flex;
      justify-content:center;
   }
   .block__content {
      width: 300px;
   }
}
@media screen and  (min-width: 820px) {
   .block__title {
      width: 700px;
      border: 1px solid gold;
      padding: 20px;
      display: flex;
      justify-content:center;
   }
   .block__content {
      width: 700px;
   }
}

@media screen and  (min-width: 945px) {
   .block__title {
      width: 700px;
      border: 1px solid gold;
      padding: 20px;
      display: flex;
      justify-content:center;
   }
   .block__content {
      width: 700px;
   }
} */

.f {
   width: 112px;
}
#mainf {
   width: 100%;
   background-color: white;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   font-family: sans-serif;
}
.g {
   width: 340px;
   height: 25px;
   background-color : #F5F6F7;
   border: 1px solid silver;
   border-radius: 3px;
   padding: 9px;
}
#btn {
   width: 360px;
   padding: 12px;
   color: white;
   background-color: #0870c2;
   border: 1px solid silver;
   border-radius: 3px;
}
a{
   color: #0870c2;
   text-decoration: none;
   margin-top: 18px;
}
.link{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.create {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.create-btn {
   background-color: #00a400;
   width: 200px;
   height: 40px;
   color: white;
   border:0;
   margin-top: 40px;
   border-radius: 5px;
}
#block {
   display: flex;
   justify-content: space-around;
   margin: 103px auto;
}
.bl-l {
   color: #221a27;
   font-size: 12px;
}
.bl-r {
   color: #110f12;
   font-size: 12px;
}

.out {
   margin-top: 30px;
}